# Python y caché
**/__pycache__/
*.pyc
*.pyo

# Bases de datos (¡Esto es vital para no subir tus datos!)
*.db
*.sqlite3

# Entornos virtuales
.venv/
venv/
.env

# Archivos de configuración de sistema
.DS_Store